* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.load{
margin-left: 700px;
margin-top: 100px;
}

.details {
  width: 300px;
  height: 450px;
  background: #f7f1f1;
  border: 1px solid black;
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  text-align: center;
  align-items: center;
  margin-left: 500px;
  padding-top: 100px;
}
